<header>
	<h1>BümBöx</h1>
</header>

<div class="album-list">
	<div class="album">
		<a class="ember-view" href="/album/1">
			<img src="images/the-morning-after.jpg">
		</a>
		<p class="album-name">The Morning After</p>
		<p class="album-artist">GOLDHOUSE</p>
		<p class="song-count">8 songs</p>
	</div>

	<div class="album">
		<a class="ember-view" href="/album/2">
			<img src="images/dusk-to-dawn.jpg">
		</a>
		<p class="album-name">Dusk to Dawn</p>
		<p class="album-artist">Emancipator</p>
		<p class="song-count">8 songs</p>
	</div>

	<div class="album">
		<a class="ember-view" href="/album/3">
			<img src="images/the-heist.jpg">
		</a>
		<p class="album-name">The Heist</p>
		<p class="album-artist">Macklemore &amp; Ryan Lewis</p>
		<p class="song-count">
			8 songs
			<span class="explicit">EXPLICIT</span>
		</p>
	</div>

	<div class="album">
		<a class="ember-view" href="/album/4">
			<img src="images/some-nights.jpg">
		</a>
		<p class="album-name">Some Nights</p>
		<p class="album-artist">fun.</p>
		<p class="song-count">
			8 songs
			<span class="explicit">EXPLICIT</span>
		</p>
	</div>
</div>

<footer class="ember-view now-playing">
	<span class="now-playing-empty">Select a song to start playing.</span>
</footer>
